.main-title {
    flex-shrink: 0;
    flex-grow: 1;
}

.issue-card {
    position: relative;
    z-index: 100;
    padding: 10px 16px;
    border-radius: 8px;
    background-color: var(--gray-10, #f1f1f1);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px 12px;
    cursor: pointer;
}

.issue-card:hover {
    filter: brightness(95%);
}

.linear-tag {
    background-color: var(--white, #fff);
    padding: 2px 12px;
    border-radius: 11px;
    outline: 1px solid var(--border-color, #dcdcde);
    display: flex;
    align-items: center;
    font-size: 13px;
    text-wrap: nowrap;
}

.expendable-tag-container {
    position: relative;
    height: 23px;
    cursor: pointer;
}

.tag-chip-counter {
    position: absolute;
    top: -6px;
    right: -6px;
    background-color: var(--white, #fff);
    outline: 3px solid var(--gray-10, #f1f1f1);
    border: 1px solid var(--border-color, #dcdcde);
    font-size: 10px;
    min-width: 14px;
    min-height: 14px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.expendable-tags {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    max-height: 23px;
    width: 100%;
    border-radius: 11px;
    outline: 1px solid var(--border-color, #dcdcde);
    background-color: var(--white, #fff);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.expendable-tags:hover {
    max-height: 1000px;
}


.expendable-tag {
    position: relative;
    padding: 2px 12px;
    display: flex;
    align-items: center;
    font-size: 13px;
    text-wrap: nowrap;
    color: "inherit";
    gap: 6px;
    cursor: pointer;
    border-bottom: 1px solid var(--border-color, #dcdcde);
}

.expendable-tag:first-child {
    padding: 2px 12px;
}

.expendable-tag:last-child {
    border-bottom: none;
}

.expendable-tag:hover {
    filter: brightness(85%);
}

.linear-label {
    background-color: var(--white, #fff);
    height: 23px;
    padding: 2px 12px;
    border-radius: 11px;
    outline: 1px solid var(--border-color, #dcdcde);
    display: flex;
    align-items: center;
    font-size: 13px;
    text-wrap: nowrap;
}

.label-dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-right: 4px;
}

.linear-tag {
    background-color: var(--white, #fff);
    padding: 2px 12px;
    border-radius: 11px;
    outline: 1px solid var(--border-color, #dcdcde);
    display: flex;
    align-items: center;
    font-size: 13px;
    text-wrap: nowrap;
    color: "inherit";
    gap: 6px;
    cursor: default;
    user-select: none;
}

.clickable-tag {
    cursor: pointer;
}

.clickable-tag:hover {
    filter: brightness(85%);
}

.icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
}